{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras bootstrap4 %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2>Welcome to Starfleet</h2>
    <p>Sift through the alert river to find luminous and exotic extragalactic transients.</p>
    <a href="https://hirise.lpl.arizona.edu/ESP_059708_1305" title="Dune Footprints in Hellas">
      <img src="https://pbs.twimg.com/media/D84FPOtU8AAHOGB.jpg" alt="Dune Footprints in Hellas" class="img-fluid" />
    </a>
    <p style="font-size: 8pt">Image: NASA/JPL/UArizona</p>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Latest Comments
      </div>
      {% recent_comments %}
    </div>
    <br/>
    <div class="card">
      <div class="card-header">
        Latest Targets
      </div>
      {% recent_targets %}
    </div>
  </div>
</div>
{% endblock %}
