django
tomtoolkit==2.6.6
gunicorn
django-heroku
django-storages
boto3
astropy
astroplan
requests_oauthlib
python-magic
specutils
whitenoise
sqlalchemy
dash
django_plotly_dash
djangorestframework
git+git://github.com/cosmictransients/FLEET@master#egg=fleet-pipe
git+git://github.com/griffin-h/spikepipe@starfleet#egg=spikepipe
