dataclasses
django
tomtoolkit
gunicorn
django-heroku
django-storages
boto3
astropy==3.2.3
astroplan
requests_oauthlib
python-magic
specutils
-e git+https://github.com/dfm/casjobs@master#egg=casjobs
-e git+https://github.com/rlwastro/mastcasjobs@master#egg=mastcasjobs
-e git+ssh://git@github.com/gmzsebastian/FLEET.git@tom_compatible#egg=FLEET
