dataclasses
django
tomtoolkit
gunicorn
django-heroku
django-storages
boto3
astropy
astroplan
requests_oauthlib
python-magic
specutils
-e git+https://github.com/dfm/casjobs@master#egg=casjobs
-e git+https://github.com/griffin-h/mastcasjobs@master#egg=mastcasjobs
dustmaps
whitenoise
sqlalchemy
dash
django_plotly_dash
djangorestframework
